[submodule "slider"]
	path = slider
	url = git@github.com:ApendIr/slider.git
[submodule "RecyclerViewSnap"]
	path = RecyclerViewSnap
	url = git@github.com:out386/RecyclerViewSnap.git
[submodule "slice-game"]
	path = slice-game
	url = git@github.com:out386/Android-fruit-ninja.git
